.grid-item {
  width: 370px;
  margin-left: 3px;
}


.grid-item img {
  width: 100%;

}

.grid {
  margin: 0 auto;

}

@media (min-width: 1024px){
  .grid-item {
    width: 467px;
    margin-left: 25px;
  
  }

  @media (min-width: 1440px){
    .grid-item {
      width: 467px;
      margin-left: auto;
    
    }
  }
}